# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/

# Logs
logs/
*.log
logs/*.txt
logs/*.csv

# Porcupine keyword models
models/*.ppn

# API keys / credentials
credentials/*.json

# Timelapse images and videos
timelapse/
*.mp4

# Backup / Archive files
*.zip
*.iar
archive_name.zip

# VSCode settings (optional)
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# 기타 임시 파일
.lgd-nfy0
